body {
  text-align: center;
  background: #84C48A;
  background-image: url('background.jpg');
  z-index: 0;
}

/* input#queryInput {
    border-radius: 12px;
    font-size: 200%;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 5%;
    padding-bottom: 5%;
  } */

.calculatorBody {
  background-color: #20A4F3;
  border-radius: 40px;
  width: 300px;
  height: 500px;
  position: absolute;
  top: 22%;
  left: 25%;
  transform: translate(-50%, -50%);
  padding: 20px;
  transform: rotate(-10deg) scale(0.8);
  box-shadow: 4px 3px 5px #374147,
    inset -1px -2px 25px;
  z-index: 1;
}

.active {
  border-radius: 20px;
  padding: 6px;
  margin-right: 2px;
  margin-top: -10px;
  background: #5ABE50;
}

.inactive {
  border-radius: 20px;
  padding: 6px;
  background-color: white;
  margin-right: 2px;
  margin-top: -10px;
}

.buttonList {
  margin-top: 30px;
}

#submit {
  margin: 0px 10px 0px 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.2fr 0.8fr 0.5fr 0.1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . . . ."
    ". i i i i ."
    ". o o o o ."
    "cl cl cl cl cl cl"
    "b b b b b b"
    "b b b b b b"
    "b b b b b b"
    "b b b b b b";
}

.i {
  grid-area: i;
}

#queryInput {
  padding: 10px;
  width: 90%;
  color: black;
  font-weight: bold;
  box-shadow: inset 1px 1px 5px #374147;
}

#queryInput:focus {
  background-color: #FFC249;
}

.o {
  grid-area: o;
}

#output {
  margin-top: -20px;
  background-color: white;
  padding: 10px;
  width: 91.5%;
  height: 15px;
  box-shadow: inset 1px 1px 5px #374147;
}

.cl {
  grid-area: cl;

}

#changeFormAction>button {
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    inset 0px 0px 8px;
  border: transparent;
}

#changeFormAction>button:focus {
    outline: 0;
  }

/* .cl>button {
    border-radius: 20px;
    padding: 6px;
    background-color: white;
    border-width: 2px;
    margin-right: 2px;
    margin-top: -10px;
    border-color:black;
  } */

.cl>button:active {
  background-color: #374147;
}

.b {
  grid-area: b;
}

.buttonList>button {
  border-radius: 30%;
  background-color: white;
  width: 50px;
  height: 50px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    inset -1px -2px 8px;
  border: transparent;
  /*Reduce Shadow*/
}

.pressed {
  box-shadow: 1px 1px 5px 0 #000000;
  -webkit-box-shadow: 1px 1px 5px 0 #000000;
  -moz-box-shadow: 1px 1px 5px 0 #000000;
  top: 4px;
  left: 4px;
  /*Move down*/
}

.error {
  background-color: red !important;
  color: white;
  font-weight: bold;
}

.buttonList>button:focus {
  outline: 0;
}

.buttonList>button:hover {
  background-color: #374147;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: right;
}

a {
  all: unset;
}

a:hover {
  cursor: pointer;
}
